<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
/* Basic CSS styling */
body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
    margin: 0;
    padding: 0;
}

.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif;
}

.w3-container {
    padding: 128px 16px;
    background-color: purple;
    color: white;
    text-align: center;
}

.w3-container h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

.w3-container p {
    font-size: 24px;
}

.w3-row-padding {
    padding: 64px 16px;
}

.w3-content {
    max-width: 1200px;
    margin: 0 auto;
}

.w3-twothird {
    width: 66.66%;
    float: left;
}

.w3-third {
    width: 33.33%;
    float: left;
    text-align: center;
}

.w3-padding-64 {
    padding: 64px;
}


.w3-opacity {
    opacity: 0.8;
    text-align: center !important;
    background-color:aliceblue;
    color: black;
}

.w3-padding-32 {
    padding: 32px 0;
    font-size: 24px;
    font-weight: bold;
}

.w3-large {
    font-size: 29px;
}

.w3-center {
    text-align: center;
}

.w3-hover-opacity:hover {
    opacity: 0.6;
}
.justify-content-between {
  display: flex;
  justify-content: space-between;
}


</style>
</head>
<body>

<header class="w3-container">
  <h1>Welcome to Caratlane social media rewards program</h1>
  <p>#BuildingCommunityTogether</p>
</header>

<div class="w3-row-padding w3-padding-64 ">
  <div class="w3-content justify-content-between">
    <div class="w3-container">
      <h1>Post your experience on our favourite social media platforms</h1>
      <h5 class="w3-padding-32">Capture a captivating image wearing one of our exquisite jewelry pieces and share it with your social media followers on Instagram. Tag our official business account and use the hashtags #BuyAtCaratlane #Caratlane and #{your-voucher-id} to unlock exclusive rewards points for your next purchase. Join us in celebrating the beauty of our jewelry collection and treat yourself to something special from our range. We can't wait to see your glamorous posts!</h5>
    </div>
    <div class="w3-container w3-black w3-opacity">
    <h1 style="font-size:29px">Voucher Id: tushar_GH23</h1>
</div>
  </div>
</div>




</body>
</html>
